.chat-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background-color: rgb(0, 136, 255);
  flex-grow: 1;
}

.chats-container {
  height: 100%;
  width: 35%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(95, 172, 165);
  border-radius: 10px;
}

.chats-top-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-height: 10%;
  width: 100%;
}

.chats-bottom-container {
  max-height: 100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chats-bottom-container::-webkit-scrollbar {
  width: 8px;
}

.chats-bottom-container::-webkit-scrollbar-track {
  background-image: linear-gradient(to bottom, #d4a241, #ef4b42, #8b599e);
  border-radius: 15px;
}

.chats-bottom-container::-webkit-scrollbar-thumb {
  background-color: rgb(46, 56, 190);
  border-radius: 20px;
  border: 1px solid rgb(45, 253, 149);
}

.chat-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  width: 100%;
}

.chat-list-title {
  font-size: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.info-string {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-50-c {
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  border-radius: 50%;
}

.creator-chat {
  font-weight: bold;
}

.chat-list-item.selected {
  background-color: #00ff80;
}

.chat-list-item:hover {
  background-color: #00ff808f;
}

.chat-item-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 100%;
  height: 100%;
}

.chat-item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 10px 0px 10px;
  background-color: rgb(100, 129, 129);
  border-radius: 10px;
}

.message-container {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background: #212121;
}

.information-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 3px 3px;
}

.information-message {
  background-color: #2b2b2b;
  border-radius: 15px;
  padding: 5px 5px;
  color: #dfdfdf;
}

.message-groups-container::-webkit-scrollbar {
  width: 8px;
}

.message-groups-container::-webkit-scrollbar-track {
  background: rgb(219, 208, 51);
  border-radius: 15px;
}

.message-groups-container::-webkit-scrollbar-thumb {
  background-color: rgb(113, 27, 226);
  border-radius: 20px;
  border: 1px solid rgb(0, 171, 194);
}

.text-input-container {
  margin-top: auto;
}

.button-join-chat-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button-join-chat {
  height: 30px;
  border-radius: 15px;
  background-color: #01c753af;
  font-size: 15px;
}

.message-groups-container {
  overflow: auto;
  display: flex;
  flex-direction: column;
  background-color: #3f3c58;
  margin: 10px 10px;
  flex-grow: 1;
  border-radius: 10px;
  height: auto;
}

.group-messages-container {
  display: flex;
  flex-direction: column;
}

.group-date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.message-item {
  font-size: 15px;
  text-align: left;
  color: rgb(255, 255, 255);
  word-wrap: break-word;
}

.message-nick {
  font-size: 15px;
  font-weight: bold;
  text-align: left;
  color: rgb(255, 255, 255);
}

.message-timestamp {
  font-size: 11px;
  color: darkgrey;
}

.message-input-container {
  margin-top: auto;
}

.message-input {
  width: 80%;
}

.filter-input-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px 10px;
  flex-grow: 1;
}

.button-input {
  right: 0;
  margin: 5px 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #6e9481;
  border-radius: 15px;
}

.image-input {
  height: 20px;
  width: 20px;
  margin: 5px 5px;
}

.smile-button {
  position: relative;
}

.smile-picker {
  position: absolute;
  bottom: 80px;
}

.chat-info-container {
  display: flex;

}

.message-group-date {
  font-size: 18px;
  color: aliceblue;
  background-color: #6e9481;
  width: 100px;
  border-radius: 20px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-for-messages {
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: 'PT Sans', sans-serif;
}

.container-for-message {
  display: flex;
  align-items: flex-end;
  width: 100%;
}

.message-other {
  justify-content: flex-start;
}

.message-creator {
  justify-content: flex-end;
}

.avatar-container {
  position: relative;
  margin-left: 5px;
  margin-right: 5px;
}
.avatar-image {
  position: sticky;
  bottom: 0px;
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.delete-message-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bubble-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.bubble-message {
  box-sizing: border-box;
  text-align: right;
  text-align: justify;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 5px 5px 5px 15px;
  padding: 5px 10px;
  min-height: 40px;
  min-width: 100px;
  max-width: 60%;
  border-radius: 10px;
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  transition: width .3s ease-in-out;
}

.items-left {
  align-items: flex-start;
}

.items-right {
  align-items: flex-end;
}

.repost {
  background: #424242;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.message-text {
  font-size: 15px;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
  overflow-wrap: break-word;
}
.nickname {
  margin: 0 0 0 5px;
  font-weight: bold;
}
.theme {
  background-image: linear-gradient(to bottom, #d4a241, #ef4b42, #8b599e);
  background-size: 100vw 100vh;
  background-position-y: 100vh;
  background-attachment: fixed;
}

.bubble-message::after {
  content: '';
  position: absolute;
  bottom: 0px;
  display: block;
  height: 10px;
  width: 10px;
  z-index: 1;
  background: inherit;
}

.bubble-message.tail-left {
  border-bottom-left-radius: 0;
}

.bubble-message.tail-right {
  border-bottom-right-radius: 0;
}

.bubble-message.tail-left::after {
  right: 99.8%;
  clip-path: url(#tailLeft);
}

.bubble-message.tail-right::after {
  left: 99.8%;
  clip-path: url(#tailRight);
}

.bubble-message::before {
  content: attr(data-time);
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  box-sizing: border-box;
  height: 100%;
  width: 70px;
  bottom: 0px;
  margin-bottom: 3px;
  text-align: right;
  vertical-align: bottom;
  color: #ffffff;
  font-size: 12px;
  line-height: 12px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}
.bubble-message:hover::before {
  opacity: .7;
}
.sticker {
  font-size: 54px;
  padding: 0;
  font-weight: bold;
  background: transparent;
}
.post-image {
  width: 250px;
  padding: 0 0 10px 0;
}

.scroll-to-top-button {
  position: fixed;
  height: 50px;
  width: 50px;
  margin: 5px 5px;
  right: 60px;
  bottom: 100px;
  opacity: 0;
  transform: translateY(50px);
  transition: .3s ease;
}

.scroll-to-top-button.active {
  opacity: 1;
  transform: translateY(0px);
}

.chat-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chat-details-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-simple-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-left: 10px;
  color: #dfdfdf;
} 

.chat-details-title {
  font-size: 25px;
}

.chat-details-count-members {
  font-size: 15px;
}

.chat-details-logo {
  height: 70px;
  width: 70px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.chat-details-popup {
  background-color: #211a5f;
  border-radius: 20px;
  padding: 10px;
  height: auto;
  min-height: calc(150px + 2vmin);
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.chat-details-members-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.chat-details-member {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 5px;
}

.chat-details-member-avatar {
  height: 40px;
  width: 40px;
  overflow: hidden;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}

.chat-details-member-nickname {
  color: #dfdfdf;
  margin-left: 10px;
}

.chat-details-members-title {
  font-size: 20px;
  font-weight: bold;
  color: #dfdfdf;
  margin: 10px 10px;
}